* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  li,
  a {
    list-style-type: none;
    text-decoration: none;
  }
  
  body {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
  
  @media (min-width: 300px) {
    iframe {
      height: 230px;
    }
  }
  @media (min-width: 330px) {
    iframe {
      height: 240px;
    }
  }
  @media (min-width: 350px) {
    iframe {
      height: 250px;
    }
  }
  @media (min-width: 400px) {
    iframe {
      height: 320px;
    }
  }
  
  @media (min-width: 450px) {
    iframe {
      height: 350px;
    }
  }
  
  @media (min-width: 550px) {
    iframe {
      height: 100%;
    }
  }
  
  @keyframes btn {
    0% {
      transform: scale(1);
      visibility: visible;
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  @-webkit-keyframes btn {
    0% {
      transform: scale(1);
      visibility: visible;
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  @-o-keyframes btn {
    0% {
      transform: scale(1);
      visibility: visible;
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  @-moz-keyframes btn {
    0% {
      transform: scale(1);
      visibility: visible;
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  /* =========== BUTTON 1 END ========= */
   @-moz-keyframes main {
    0% {
      transform: scale(1);
      visibility: visible;
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    } 
  } 
  
  ::-moz-selection {
    color: #fff;
    background: #212529;
  }
  
  ::selection {
    color: #fff;
    background: #212529;
  }
  
  .red {
    color: red;
  } 
  
  section {
    background-color: white;
    margin: 2rem 5rem;
  }
  section .headlines {
    width: 100%;
    margin: auto;
    max-width: 1300px;
  }
  section .headlines h1 {
    font-weight: 900;
    text-align: center;
    font-size: 1.6rem;
    margin: 10px 0;
    max-width: 900px;
    margin: auto;
    width: 80%;
  }
  
  /* =================== VSL MEDIA QUERY ================== */
  @media screen and (min-width: 700px) {
    .iframe_wrapper {
      border: 5px solid red;
      height: 80vh;
      max-width: 1000px;
      margin: 0 auto;
    }
  
    .iframe_wrapper {
      max-width: 1200px;
      margin: 20px auto;
      width: 100%;
      background-color: #000000;
      padding: 30px 10px;
    }
    iframe {
      height: 100%;
    }
  
    section .heading h1 {
      font-size: 3em;
    }
  }
  
  section .heading .heading-vid {
    height: 500px;
    width: 100%;
    margin: 20px auto 0;
    border: 2px solid red;
  }

  section .container .welcome .welcome-text h3 {
    text-align: center;
  }

  section .container .welcome {
    background-color: white;
    padding: 10px 15px;
  }

  section .container .welcome .welcome-text h4 {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    width: 90%;
    margin: auto;
  }

  section .container .welcome .welcome-text .div {
    border-radius: 6px;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin: 0 auto;
    margin-top: 25px;
    width: 93%;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    line-height: 1.4;
    text-align: center;
  }

  @media screen and (min-width: 700px) {
    /* section .container .welcome .welcome-text .div {
      width: 70%;
    } */
  }

  section .container .welcome .welcome-text .div h3 {
    font-family: "Open Sans";
    color: #4a4a4a;
    font-size: 24px;
    width: 50%;
    margin: auto;
    font-weight: 700;
  }
  section .container .welcome .welcome-text .div h3 img {
    width: 30px;
  }
  section .container .welcome .welcome-text .div p {
    color: #4a4a4a;
    font-size: 17px;
    margin: 15px 0;
  }
  
  .max-width {
    max-width: 850px;
    width: 100%;
    margin: auto;
  }
  
  footer {
    padding: 20px;
  }
  footer .footer {
    text-align: center;
    max-width: 770px;
  }
  footer .footer ul {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    text-align: center;
  }
  footer .footer ul li {
    padding: 0 7px;
    text-align: center;
    line-height: 1.3;
  }
  footer .footer ul li a {
    font-size: 15px;
    color: #479da9;
  }
  footer .footer ul li span {
    margin-left: 5px;
  }
  footer .footer .copyright p {
    line-height: 1.4;
    margin-top: 10px;
    font-size: 0.7em;
    color: #888;
    font-size: 12px;
  }
  footer .footer .copyright p:nth-child(1) {
    font-size: 14px;
    width: 90%;
    margin: 10px auto 0;
  }
  
  img {
    width: 100%;
  }

  #gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .content {
    width: 25%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: 10px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    background-color: #ffffff;
    /* background-image: linear-gradient(to top, #e4e8ee, #e1e4ea, #dfe1e5, #dcdde1, #d9dadd); */
    /* background-image: linear-gradient(to bottom, #b9bcc3, #c5c8cf, #d1d3db, #dddfe7, #e9ebf3); */
  }

  
  .content p {
    color: #0b0b0b;
  }

  .content .cash .digital p {
    font-size: 1.5rem;
    color: #0b0b0b;
  }
  #order-form {
    width: 100%;
    text-align: center;
  }
  
  .content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
  }

  .content img {
    width: 300px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 4px;
  }

  #gallery ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
 #gallery .content p i, .fa {
    font-size: 15px;
   cursor: pointer;
  }

  #gallery .content {
    text-transform: uppercase;
  }

  .checked {
    color: #ff9f43;
  }

  .fa:hover {
    transform: scale(1.3);
    transition: 0.6s;
  }

  #gallery .content button {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .card2 {
    background: #0b0b0b;
  }

  #order-form {
    width: 100%;
  }

  #gallery .content .digital {
    border-top: 2px solid rgb(196, 193, 193);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #gallery .content .digital .cash p {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #gallery .content .digital .button {
    background-color: #ff9f43;
    border-radius: 25px;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 2px;
    cursor: pointer;
    width: 60%;
  }

  #gallery .digital p {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .gallery .content .white {
    border-bottom: 2px solid white;
    padding: 16px 16px;
    margin-bottom: 7px;
  }

  #gallery  .six-months .digital .cash p {
    color: black;
  }

  #gallery  .six-months .digital p {
    color: #ff9f43;
  }

  #gallery .six-months .h4 {
   text-transform: uppercase;
  }

  #gallery .six-months p {
    text-transform: uppercase;
   }

  #gallery .six-months .card2 {
    padding: 25px 0;
  }

  #gallery .content .prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  #gallery .prices .price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  #gallery .content .prices .price .big {
    font-size: 20px;
    font-weight: 900;
    margin-top: 6px;
  } 

  #gallery .content .prices .price .small {
    font-size: 8px;
    font-weight: bold;
    padding-left: 3px;
    margin-top: 10px;
  } 

  #gallery .content .total-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #gallery .content .total-price  .strike-out {
    padding-right: 4px;
    font-size: 20px;
  }

  #gallery .content .total-price  .original-price {
    font-size: 30px;
    font-weight: 900;
  }

  @keyframes main {
    0% {
      transform: scale(1);
      visibility: visible;
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  @-webkit-keyframes main {
    0% {
      transform: scale(1);
      visibility: visible;
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  }
  
  @-o-keyframes main {
    0% {
      transform: scale(1);
      visibility: visible;
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.1);
    }
  } 
  
  /* =========== MAIN TRANSITION ========= */
  
   main {
    margin: 20px auto;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    visibility: hidden;
  
    animation-name: main;
    animation-duration: 20ms;
    animation-iteration-count: 0;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 00000ms;
  }
  /* =========== MAIN END========= */
  
  @media (max-width: 1000px) {
    .content {
      width: 45%;
    }
    .container h1 {
      text-align: center;
    }
    iframe {
      margin: 30px 0;
    }
    section {
      background-color: white;
      width: 100%;
    }
    
  }
  
  @media (max-width: 750px) {
    .content {
      width: 100%;
    }
    .container h1 {
      text-align: center;
    }
    iframe {
      margin: 30px 0;
    }
    section {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    .container {
      width: 95%;
    }
    li {
      line-height: 35px;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    section {
      background-color: white;
      margin: 1rem 0rem;
    }
    section {
      width: 100%;
    }
  }